<div>
  <h1>Login</h1>
    {{> alerts}}
  <form action="#" method="post">
    <label class="form-label">Email address</label>
    <input name="email" type="email" class="form-control" 
    value="{{#if email}}{{email}}{{else}}""{{/if}}" />
    <label class="form-label">Password</label>
    <input name="password" type="password" class="form-control"
    value="{{#if password}}{{password}}{{else}}""{{/if}}" />
    <input type="submit" value="submit" class="btn btn-primary" />
  </form>
</div>